.hero-section {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 640px;
  color: $color-white;


  &__title {
    font: italic normal 900 40px/53px $ff-playfair;
    @media (min-width:992px ) {
      font-size: $fz-xx-large;
      line-height: 80px;
  }


  }

  &__drop-icon {
    color: $color-white;
  }
}
