.hero-section {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  flex-direction: column;

  &__title {
    width: 75vw;
    font: italic normal 900 40px/53px $ff-playfair;
    text-align: center;
  }

  &__drop-icon {
    color: $color-white;

  }
}
