
.blog-nav {
  &__logo {
    height: 34px;
    margin-left: 50px;
  }

  &__navbar {
    height: 96px;
    background-color: $color-eerie-black;
    color: white;
  }

  &__icon {
    border: none;
    margin-right: 50px;
  }

  &__collapse {
    background-color: $color-eerie-black;
    padding-left: 50px;
  }
}

.nav-link {
  color: $color-ligth-grey;
  &:active {
    color: $color-white;
  }
  &:hover,
  &:focus {
    color: #de8684;
  }
}
