body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.button-class {
  height: 51px;
  background-color: #1216199e;
  border: none;
  border-radius: 30px;
  color: #fff;
}
.button-class:hover {
  background-color: #D1D1D1;
}
.button-class:focus {
  border: 3px solid #D1D1D1;
}
.button-class--small {
  width: 115px;
}
.button-class--medium {
  width: 182px;
}

.link--primary {
  text-decoration: none;
  color: #D76C69;
}
.link--primary:hover {
  color: #222323;
}
.link--primary:active {
  color: #E6E7E7;
}
.link--secondary {
  color: #222323;
}
.link--ligth {
  color: #D1D1D1;
}
.link--ligth:hover {
  color: #fff;
}
.link--ligth:active {
  color: #D76C69;
}
.link--dark {
  color: #121619;
}

.paginationbar {
  display: flex;
  justify-content: center;
}
.paginationbar__navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 20px;
  height: 40px;
}
.paginationbar__navbar ul li {
  border: solid 1px #D1D1D1;
  padding: 15px;
}
.paginationbar__navbar ul li:first-child {
  border-radius: 30px 0 0 30px;
}
.paginationbar__navbar ul li:last-child {
  border-radius: 0 30px 30px 0;
}

.thumbnail {
  border: 0.3px solid #D1D1D1;
  border-radius: 50%;
  height: 130px;
}
@media (min-width: 992px) {
  .thumbnail {
    height: 140px;
  }
}

.blog-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121619;
  height: 206px;
}
@media screen and (min-width: 768px) {
  .blog-footer {
    height: 169px;
  }
}
.blog-footer__logo {
  width: 81px;
  height: auto px;
}
@media screen and (min-width: 768px) {
  .blog-footer__logo {
    width: 122px;
  }
}

.blog-nav__logo {
  height: 34px;
  margin-left: 50px;
}
.blog-nav__navbar {
  height: 96px;
  background-color: #121619;
  color: white;
}
.blog-nav__icon {
  border: none;
  margin-right: 50px;
}
.blog-nav__collapse {
  background-color: #121619;
  padding-left: 50px;
}

.nav-link {
  color: #D1D1D1;
}
.nav-link:active {
  color: #fff;
}
.nav-link:hover {
  color: #DE8684;
}
.nav-link:focus {
  color: #fff;
}

.hero-section {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.hero-section__title {
  width: 75vw;
  font: italic normal 900 40px/53px "Playfair Display", serif;
  text-align: center;
}
.hero-section__drop-icon {
  color: #fff;
}

.content {
  padding: 50px;
  background-color: #fff;
  color: #707070;
}
.content__date {
  font-family: "Playfair Display", serif;
  padding-bottom: 50px;
}
.content__text {
  font-family: "Roboto", sans-serif;
  line-height: 3;
}

.content-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 365px;
  border: solid 0.3px #707070;
}
.profile__name {
  width: 75vw;
  font: italic normal 900 30px "Playfair Display", serif;
  text-align: center;
}

.pages-bar {
  height: 156px;
  background-color: #1216191a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
