body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.button-class {
  height: 51px;
  background-color: #1216199e;
  border: none;
  border-radius: 30px;
  color: #fff;
}
.button-class:hover {
  background-color: #D1D1D1;
}
.button-class:focus {
  border: 3px solid #D1D1D1;
}
.button-class--small {
  width: 115px;
}
.button-class--medium {
  width: 182px;
}

.link--primary {
  text-decoration: none;
  color: #D76C69;
}
.link--primary:hover {
  color: #222323;
}
.link--primary:active {
  color: #E6E7E7;
}
.link--secondary {
  color: #222323;
}
.link--ligth {
  color: #D1D1D1;
}
.link--ligth:hover {
  color: #fff;
}
.link--ligth:active {
  color: #D76C69;
}
.link--dark {
  color: #121619;
}

.page-link {
  background-color: #fff;
  color: #121619;
}
.page-link:active {
  color: #777777;
  border: none;
}
.page-link:hover {
  background-color: #121619;
  color: #fff;
}

.page-item:first-child .page-link {
  border-radius: 20px 0 0 20px;
}

.page-item:last-child .page-link {
  border-radius: 0 20px 20px 0;
}

.thumbnail {
  border: 0.3px solid #D1D1D1;
  border-radius: 50%;
  height: 130px;
}
@media (min-width: 992px) {
  .thumbnail {
    height: 180px;
  }
}

.blog-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121619;
  height: 206px;
}
@media screen and (min-width: 768px) {
  .blog-footer {
    height: 169px;
  }
}
.blog-footer__logo {
  width: 81px;
  height: auto px;
}
@media screen and (min-width: 768px) {
  .blog-footer__logo {
    width: 122px;
  }
}

.blog-nav__logo {
  height: 34px;
  margin-left: 50px;
}
.blog-nav__navbar {
  height: 96px;
  background-color: #121619;
  color: white;
}
.blog-nav__icon {
  border: none;
  margin-right: 50px;
}
.blog-nav__collapse {
  background-color: #121619;
  padding-left: 50px;
}

.nav-link {
  color: #D1D1D1;
}
.nav-link:focus, .nav-link:hover {
  color: #de8684;
}

.hero-section {
  background-image: url(../img/post-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 640px;
  color: #fff;
}
.hero-section__title {
  font: italic normal 900 40px/53px "Playfair Display", serif;
}
@media (min-width: 992px) {
  .hero-section__title {
    font-size: 70px;
    line-height: 80px;
  }
}
.hero-section__drop-icon {
  color: #fff;
}

.content {
  padding: 50px;
  background-color: #fff;
  color: #707070;
}
.content__date {
  font-family: "Playfair Display", serif;
  padding-bottom: 50px;
}
.content__text {
  font-family: "Roboto", sans-serif;
  line-height: 3;
}
@media (min-width: 992px) {
  .content {
    padding: 100px;
  }
}

.content-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .content-buttons {
    justify-content: start;
  }
  .content-buttons :last-child {
    margin-left: 10px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 365px;
  border: solid 0.3px #707070;
}
.profile__name {
  font: italic normal 900 30px "Playfair Display", serif;
}
.profile__text {
  width: 617px;
  color: #707070;
  line-height: 40px;
  font-size: 12px;
}
@media (min-width: 992px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    max-height: 330px;
    padding: 0 100px 0 100px;
  }
}

.pages-bar {
  height: 156px;
  background-color: #1216191a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  border-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
